*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-light-color-hsl: 224, 85%, 91%;
    --primary-color-hsl: 229, 36%, 50%;
    --primary-dark-color-hsl: 229, 36%, 4%;
    --focus-color: 28, 66%, 44%;
    --success-color-hsl: 100, 60%, 50%;
    --error-color-hsl: 0, 60%, 50%;
    --primary-text-color: white;

}

body {
    margin: 0;
}

.full-screen-container {
    background-image: url("public/background.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    --color: hsl(var(--primary-dark-color-hsl), .6);
    background-color: var(--color);
    box-shadow: 0 0 15px 0 var(--color);
    padding: 40px 30px;
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
}

.login-title {
    margin: 0;
    color: var(--primary-text-color);
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
}

.form {
    display: flex;
    flex-direction: column;
    color: var(--primary-text-color);
    gap: 20px;
    margin-top: 40px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.input-group label {
    color: var(--primary-text-color);
    font-weight: lighter;
}

.input-group input {
    font-size: 1.25rem;
    padding: .5rem;
    background-color: hsl(var(--primary-light-color-hsl), .3);
    border: none;
    outline: none;
    border-radius: .2rem;
    color: var(--primary-text-color);
    font-weight: lighter;
}

.input-group.success input {
    box-shadow: 0 0 0 1px hsl(var(--success-color-hsl));
}

.input-group.error input {
    box-shadow: 0 0 0 1px hsl(var(--error-color-hsl));
}

.input-group input:focus {
    box-shadow: 0 0 0 1px hsl(var(--focus-color));
}

.msg {
    display: block;
    font-size: .75rem;
}

.input-group .msg.success,
.input-group .msg.error {
    display: block;
}


.input-group .msg.success {
    color: hsl(var(--success-color-hsl));
}

.input-group .msg.error {
    color: hsl(var(--error-color-hsl));
}

.login-button {
    padding: .5em 1em;
    font-size: 1.5rem;
    font-weight: lighter;
    color: var(--primary-text-color);
    background-color: hsl(var(--focus-color), 0.25);
    border: 1px solid hsl(var(--focus-color));
    border-radius: .25em;
    outline: none;
    cursor: pointer;
}

.login-button:hover,
.login-button:focus {
    background-color: hsl(var(--focus-color), 0.4);
    ;
}